extends ../layout.pug

block content
  if success
    p.success Hobby saved successfully!
  
  h1 All hobbies
  each hobby in hobbies
    .hobby-card
      h3= hobby.title
      if hobby.description
      p.description= hobby.description
      p Rating: #{'🥕'.repeat(hobby.rating)} (#{hobby.rating}/5)
      a(href=`/hobbies/${hobby.id}/edit`) Edit

      form(method="POST" action=`/hobbies/${hobby.id}/delete` style="display: inline;")
        button(type="submit" onclick="return confirm('Really delete this hobby?')") Delete
